/* Universal box sizing */
* {
    box-sizing: border-box;
    margin: 0px;
}
/* Style the header and footer*/
.header {
    background-color:#364156;
    text-align: center;
}
/* flex container for nav bar*/
.nav .container1 {
    display:flex;
    justify-content: space-evenly   ;
    align-items: center;
    border: white;
    border-style: ridge;
 }
/* flex container for main columns*/
 .container2 {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #364156;
    border: white;
    border-style: ridge;
 }
 .column {
    margin: 10px;
    padding: 20px;
    font-size: large;
    text-align: center;
  }
 /* Style the nav bar */
.nav {
    overflow: hidden;
    background-color: white;
}
 /* create flex container for top nav list*/
 .nav ul {
    display:flex;
    list-style: none;
 }
 /* style the calendar */
 .iframe {
    border: white
    border-style: ridge
    width="1600" 
    height="1200" 
    frameborder="0" 
    scrolling="no"
 }
 /* set max size of images*/
 .image {
    max-width: 100%;
 }
/* Style the footer */
.footer {
    background-color:#364156;
    text-align: center
    padding: 10px;
    font-size: medium;
    border: white;
    border-style: ridge;
}
/* Fonts */
h1, h2, p1, p2, .nav a {
    font-family: "arial", times, sans-serif;
    color: #A49966
}
/* Style the nav links */
.nav a {
    color: #A49966;
    padding: 14px 20px;
    text-decoration: none;
    font-size: large;
}