/* Universal box sizing */
* {
    box-sizing: border-box;
    margin: 0px;
}
/* Style the header */
.header {
    background-color:#363020;
    text-align: center;
}
/* Style header1 text*/
.header h1 {
    color: #A49966
}
 /* create flex container for logo  DO I NEED THIS??*/
 .nav .logo {
    display:flex;
 }
/* create flex container for nav bar*/
.nav .container {
    display:flex;
    justify-content: space-around;
    align-items: center;
 }
 /* Style the nav bar */
.nav {
    overflow: hidden;
    background-color: white;
    padding: 10px;
}
 /* create flex container for top nav list*/
 .nav ul {
    display:flex;
    list-style: none;
 }
/* Style the nav links */
.nav a {
    color: #A49966;
    padding: 14px 16px;
    text-decoration: none;
}
/* Style paragraph text*/
p {
    color: #A49966
}
/* Style the footer */
.footer {
    background-color: #605C4E;
    text-align: center;
    padding: 10px;
}
